TRAINING_LLM_LLAMA2/
FUNCTION_CALLING_NEXUS_RAVEN/.env
MIDJOURNEY/StableStudio/
SPEECH_TO_TEXT_WHISPER/LLAMA*.json
SPEECH_TO_TEXT_WHISPER/LLAMA*.srt
SPEECH_TO_TEXT_WHISPER/LLAMA*.tsv
SPEECH_TO_TEXT_WHISPER/LLAMA*.txt
SPEECH_TO_TEXT_WHISPER/LLAMA*.vtt
SPEECH_TO_TEXT_WHISPER/LLAMA*.mp3
GEMINIPRO/myenv/
GEMINIPRO/.env
JURASSIC-2/.env
LLAMA_API/.env
LLAMA_API/
JSONFORMER/
GPT_CODE/.env
ORDER_ASSISTANT/
ORDER_ASSISTANT_NODE/.env
ORDER_ASSISTANT_NODE/node_modules/
ORDER_ASSISTANT_NODE/node*/
ORDER_ASSISTANT_NODE/package-lock.json
ORDER_ASSISTANT_NODE/package.json
.vscode/
ChatDev/ChatDev
ChatDev/Test
#MIXTRAL_8X7B/
MIXTRAL_8X7B_TRAIN/
QUIVR/Quivr/.aws
QUIVR/Quivr/.github
QUIVR/Quivr/.vscode
QUIVR/Quivr/.env
QUIVR/Quivr/.env.example
QUIVR/Quivr/.flake8
QUIVR/Quivr/docs/
QUIVR/Quivr/backend/**/__pycache__/
LAG_LLAMA_TIME_SERIES/David_prueba.csv
GEMMA/.env
PROMPTFOO/Test1
PROMPTFOO/
CLAUDE 3 vs GPT4/.env
CLAUDE 3 vs GPT4/myenv/
MEDIAPIPE API/GEMMA/gemma*.bin
MEDIAPIPE API/
SPEECH_TO_TEXT_WHISPER/audi.json
SPEECH_TO_TEXT_WHISPER/audi.srt
SPEECH_TO_TEXT_WHISPER/audi.tsv
SPEECH_TO_TEXT_WHISPER/audi*
SPEECH_TO_TEXT_WHISPER/example*
SPEECH_TO_TEXT_WHISPER/record*
RAG LLAMA3/myenv/
Ollama Models Make/
GROQ_FUNCTION_CALLING/