TRAINING_LLM_LLAMA2/
FUNCTION_CALLING_NEXUS_RAVEN/.env
MIDJOURNEY/StableStudio/
SPEECH_TO_TEXT_WHISPER/LLAMA*.json
SPEECH_TO_TEXT_WHISPER/LLAMA*.srt
SPEECH_TO_TEXT_WHISPER/LLAMA*.tsv
SPEECH_TO_TEXT_WHISPER/LLAMA*.txt
SPEECH_TO_TEXT_WHISPER/LLAMA*.vtt
SPEECH_TO_TEXT_WHISPER/LLAMA*.mp3
GEMINIPRO/myenv/
GEMINIPRO/.env
JURASSIC-2/.env
LLAMA_API/.env
LLAMA_API/
JSONFORMER/
GPT_CODE/.env
ORDER_ASSISTANT/
ORDER_ASSISTANT_NODE/.env
.vscode/